html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: #E0E4CC;
  margin: 0;
  padding: 0;
}

body {
  padding: 25px 0;
}

.hidden {
  display: none !important;
}

[v-cloak] {
  display: none;
}

@-webkit-keyframes slam {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  18% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
  }
}

@keyframes slam {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  18% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
  }
}

.slam {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0.58, 0.25, 1.29);
  animation-timing-function: cubic-bezier(0.87, 0.58, 0.25, 1.29);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: slam;
  animation-name: slam;
}

.form-enter-active, .form-leave-active, .success-enter-active, .success-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-enter, .form-leave-to, .success-enter, .success-leave-to {
  opacity: 0;
}

/*! nouislider - 9.1.0 - 2016-12-10 16:00:32 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

/* Styling;
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    padding: 0 20px;
  }
}

.container:after {
  display: block;
  content: '';
  clear: both;
}

.volume-slider {
  position: absolute;
  width: 100px;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*
	* No UI slider styling
	*/
}

.volume-slider.noUi-target {
  border: none;
  box-shadow: none;
  background: rgba(34, 34, 34, 0.3);
  border-radius: 0;
  cursor: pointer;
}

.volume-slider.noUi-horizontal {
  height: 3px;
}

.volume-slider.noUi-horizontal .noUi-handle {
  width: 4px;
  height: 15px;
  top: -7px;
  left: auto;
}

.volume-slider .noUi-connect {
  box-shadow: none;
  background: #A7DBD8;
}

.volume-slider .noUi-handle {
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: #A7DBD8;
  border-radius: 0;
}

.volume-slider .noUi-handle:before, .volume-slider .noUi-handle:after {
  display: none;
}

@media (max-width: 1250px) {
  .volume-slider .noUi-handle {
    opacity: 1;
  }
}

.form-input {
  position: relative;
}

.form-input i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.1em;
}

.form-input.icon-right i {
  right: 20px;
  color: #aaa;
}

.form-input.has-shadow {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.form-input.has-shadow input {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.form-input.has-shadow input:focus {
  background: #f5f5f5;
  outline: 0;
}

.form-input.has-error label {
  color: #f00;
}

.form-input.has-error input {
  border-color: #f00;
  color: #f00;
}

.btn {
  border: none;
  background: #69D2E7;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font-size: 1em;
  text-decoration: none;
}

.btn.margin-left {
  margin-left: 15px;
}

.btn.full-width {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.btn:hover {
  background: #95dfee;
}

.header {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.header .logo {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

.header .logo a {
  color: #444;
  text-decoration: none;
}

.header .logo a span {
  color: #69D2E7;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header .logo a:hover span {
  color: #3dc5e0;
}

.user {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.user img {
  width: 40px;
  border: solid 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.user span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: bold;
}

.user .user-nav {
  display: inline-block;
  vertical-align: middle;
  color: #444;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.modal-container {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
}

.modal-header {
  width: 100%;
  padding: 20px;
  background: #69D2E7;
}

.modal-header h3 {
  margin: 0;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.modal-close {
  border: none;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  color: #69D2E7;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  outline: 0;
}

.modal-close i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.message {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #fff;
}

.message i {
  font-size: 1.5em;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.success {
  background: #69B735;
}

.success p {
  display: inline-block;
}

.error {
  background: #BF0000;
}

.player {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.player .album-art {
  width: 100%;
  min-height: 100px;
  background: #69D2E7;
  position: relative;
}

@media (max-width: 600px) {
  .player .album-art {
    min-height: 100px;
  }
}

.player .album-art .default {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.1);
}

.player .album-art .default i {
  position: absolute;
  top: 48%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .player .album-art .default i {
    left: auto;
    right: 20px;
  }
}

.player-controls {
  display: block;
  padding: 10px 15px;
  padding-bottom: 25px;
  background: #fff;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  margin-top: -7px;
}

@media (max-width: 600px) {
  .player-controls {
    text-align: left;
  }
}

.player-controls a {
  display: inline-block;
  vertical-align: middle;
  color: #95dfee;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.player-controls a:hover {
  color: #69D2E7;
}

.player-controls .play-btn {
  font-size: 1em;
  margin: 0 15px;
  border-radius: 50%;
  background: #95dfee;
  color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  position: relative;
}

.player-controls .play-btn:hover {
  background: #69D2E7;
  color: #fff;
}

.player-controls .play-btn i {
  position: absolute;
  top: 50%;
  left: 50.3%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.player-controls .play-btn i.fa-pause {
  left: 50.1%;
}

.player-controls .volume {
  position: absolute;
  right: 15px;
  top: 42%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.player-controls:hover .scrubber {
  top: -8px;
  height: 8px;
}

.player-controls:hover .noUi-handle {
  opacity: 1;
}

.player-controls:hover .buffer, .player-controls:hover .time {
  height: 8px;
}

.scrubber {
  position: absolute;
  top: -3px;
  z-index: 999;
  width: 100%;
  left: 0;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /*
	* No UI slider styling
	*/
}

.scrubber .buffer {
  background: #222;
  opacity: 0.3;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: height 0.3s, top 0.3s;
  transition: height 0.3s, top 0.3s;
  cursor: pointer;
}

.scrubber .time {
  background: #A7DBD8;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  z-index: 5;
  -webkit-transition: height 0.3s, top 0.3s;
  transition: height 0.3s, top 0.3s;
}

.scrubber.noUi-target {
  border: none;
  box-shadow: none;
  background: rgba(34, 34, 34, 0.3);
  border-radius: 0;
  cursor: pointer;
  padding: 0 5px;
}

.scrubber.noUi-horizontal {
  height: 3px;
  -webkit-transition: height 0.3s, top 0.3s;
  transition: height 0.3s, top 0.3s;
}

.scrubber.noUi-horizontal:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 5px;
  background: #A7DBD8;
}

@media (max-width: 1250px) {
  .scrubber.noUi-horizontal {
    top: -8px;
    height: 8px;
  }
}

.scrubber.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 26px;
  top: -10px;
  left: auto;
  right: 5px;
}

.scrubber .noUi-connect {
  box-shadow: none;
  background: #A7DBD8;
}

.scrubber .noUi-handle {
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: #A7DBD8;
  border-radius: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.scrubber .noUi-handle:before, .scrubber .noUi-handle:after {
  display: none;
}

@media (max-width: 1250px) {
  .scrubber .noUi-handle {
    opacity: 1;
  }
}

.artist-info {
  display: block;
  padding: 0;
  padding-left: 110px;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.artist-info .artist {
  font-size: 1.3em;
  font-weight: 700;
  display: block;
}

@media (max-width: 1250px) {
  .artist-info {
    padding-left: 10px;
  }
}

.content {
  display: block;
  width: 100%;
  background: #fff;
  min-height: 20px;
  padding: 20px;
  padding-bottom: 45px;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.search {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.search input {
  display: block;
  width: 100%;
  background: #eee;
  border: none;
  font-size: 1em;
  padding: 15px 20px;
  padding-bottom: 15px;
  color: #aaa;
  letter-spacing: 2px;
}

.search ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  letter-spacing: 2px;
}

.search ::-moz-placeholder {
  /* Firefox 19+ */
  letter-spacing: 2px;
}

.search :-ms-input-placeholder {
  /* IE 10+ */
  letter-spacing: 2px;
}

.search :-moz-placeholder {
  /* Firefox 18- */
  letter-spacing: 2px;
}

.main-nav {
  display: block;
  margin-bottom: 20px;
}

.main-nav a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  color: #69D2E7;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.main-nav a:after {
  content: '';
  display: none;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  margin-top: 5px;
  width: 100%;
  background: #69D2E7;
}

.main-nav a:hover:after, .main-nav a.router-link-active:after {
  display: block;
}

.main-nav a:last-child {
  margin-right: 0;
}

.song-list {
  counter-reset: songs;
}

.song-list div {
  counter-increment: songs;
  position: relative;
  padding: 15px;
  padding-left: 40px;
  border-bottom: solid 1px #eee;
  letter-spacing: 1px;
  line-height: 17px;
}

.song-list div:before {
  content: counter(songs, decimal-leading-zero) ". ";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ddd;
  font-weight: bold;
  font-size: 1.3em;
}

.form {
  font-size: 1em;
}

.form input {
  display: block;
  padding: 10px;
  width: 100%;
  border: solid 1px #ddd;
  letter-spacing: 2px;
}

.form label {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #444;
}

.form .form-input {
  margin-bottom: 25px;
}

.form .form-input:last-child {
  margin-bottom: 0;
}

.form .form-input[disabled="disabled"] {
  opacity: 0.5;
}

.form .form-input[disabled="disabled"] input {
  pointer-events: none;
}

.form .form-input[disabled="disabled"] button {
  pointer-events: none;
}

/*# sourceMappingURL=app.css.map */
