html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html, body{
	font-size: $font-size-base;
	font-family: $font-family;
	line-height: $line-height-base;
	background-color: $body-bg;
	margin: 0;
	padding: 0;
}
body{
	padding: 25px 0;
}
.hidden{
	display: none !important;
}