// Body
$body-bg: #E0E4CC;
$brand-primary: #69D2E7;
$brand-alt: #A7DBD8;

$success: #69B735;
$error: #BF0000;

// Typography
$font-family: 'Nunito Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
