// Fonts
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i);

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "mixins";

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	padding-top: 25px;
}
@import "modules/form-input";
@import "modules/search";
@import "modules/search-results";
@import "modules/player";
@import "modules/main-content";
@import "modules/main-nav";
@import "modules/songs";
@import "elements/song";