.artist-info{
	display: block;
	padding: 0;
	padding-left: 240px;
	letter-spacing: 3px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);

	.artist{
		font-size: 1.3em;
		font-weight: 700;
		display: block;
	}

	@include bp(medium){
		padding-left: 240px;
	}
}