.header{
	margin-bottom: 10px;
	width: 100%;
	position: relative;

	.logo{
		margin: 0;
		font-family: 'Poppins', sans-serif;
		font-size: 3em;

		a{
			color: #444;
			text-decoration: none;

			span{
				color: $brand-primary;
				transition: color 0.3s;
			}

			&:hover span{
				color: darken($brand-primary, 10);
			}
		}
	}
}