.main-nav{
	display: block;
	margin-bottom: 20px;

	a{
		display: inline-block;
		margin-right: 15px;
		text-decoration: none;
		color: $brand-primary;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		position: relative;

		&:after{
			content: '';
			display: none;
			position: absolute;
			bottom: -5px;
			left: 0;
			height: 3px;
			margin-top: 5px;
			width: 100%;
			background: $brand-primary;
		}

		&:hover:after, &.active:after{
			display: block;
		}

		&:last-child{
			margin-right: 0;
		}
	}
}