.player{
	display: block;
	background: #fff;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid 1px #eee;

	iframe{
		display: none;
	}
	i{
		font-size: 1.5em;
		top: 5px;
	}
	i.glyphicon-play, i.glyphicon-pause{
		margin-right: 15px;
	}

	.scrubber{
		display: block;
		position: absolute;
		top: -3px;
		height: 3px;
		background: $brand-primary;
		left: 0;
		transition: height 0.3s, top 0.3s;

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -1px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $brand-primary;
			opacity: 0;
			transition: opacity 0.2s;
			transition-delay: 0s;
			cursor: pointer;
		}
	}

	&:hover .scrubber{
		height: 8px;
		top: -8px;

		&:after{
			opacity: 1;
			transition-delay: 0.3s;
		}
	}
}