.user{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 999;
	width: 100%;
	text-align: right;

	// .btn{
	// 	margin-right: 10px;
	// 	font-size: 0.9em;

	// 	&:last-child{
	// 		margin-right: 0;
	// 	}
	// }

	img{
		width: 40px;
		border: solid 4px rgba(#000, 0.1);
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
	}

	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 1.1em;
		font-weight: bold;
	}

	.user-nav{
		display: inline-block;
		vertical-align: middle;
		color: #444;

		@include bp(small){
			display: none;
			width: 100%;
			position: absolute;
			background: #fff;
			z-index: 9999;
			span,img{
				display: none;
			}
			a{
				display: block;
				width: 100%;
				padding: 10px;
				margin-left: 0;
				text-align: left;
				border-top: solid 1px #eee;

				&:first-child{
					border-top: none;
				}
			}
		}
	}
	// .user-nav a{
	// 	display: inline-block;
	// 	color: #fff;
	// 	background: $brand-primary;
	// 	text-transform: uppercase;
	// 	font-weight: bold;
	// 	padding: 5px 10px;
	// 	margin-left: 10px;
	// 	text-decoration: none;
	// 	transition: 0.3s;

	// 	&:hover{
	// 		background: lighten($brand-primary, 10);
	// 	}
	// }
}